@font-face {
  font-family: "Font1";
  src: url("font1.ttf") format("truetype");
}

@font-face {
  font-family: "Font2";
  src: url("font2.ttf") format("truetype");
}

html {
  font-family: Font1, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  position: relative;
}

.code {
  font-family: Font2, monospace;
  font-size: 2.2vw;
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
  padding-left: 0.3vw;
  padding-right: 0.3vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

h1 {
  font-size: 5.5vw;
  font-weight: bolder;
  margin-top: 0.6vw;
  margin-bottom: 0.6vw;
}

h2 {
  font-size: 4.5vw;
  font-weight: bold;
  margin-top: 1vw;
  margin-bottom: 0.4vw;
}

h3 {
  font-size: 3.5vw;
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
}

p {
  font-size: 2.6vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
}

.small {
  font-size: 2vw;
}

.cardl {
  width: 20%;
  height: inherit;
  float: left;
}

.card1 {
  font-size: 4vw;
  margin-top: 1.5vw;
}

.cardr {
  width: 80%;
  height: inherit;
  float: right;
}

.card2 {
  font-size: 2vw;
  margin-top: 0px;
}

.beta {
  color: #c00;
}

.rbutton {
  width: 12vw;
  font-size: 2.3vw;
  padding: 1vw 2vw;
  border-radius: 1vw;
  border-width: 0.4vw;
}

.mbutton {
  width: 6vw;
  font-size: 1.3vw;
  padding: 0.2vw 0.125vw;
  border-radius: 0.6vw;
  border-width: 0.3vw;
}

.inverted {
background-color: #000;
color: #fff
}

#bgc {
  width: 96px;
  height: 96px;
  border-style: solid;
  border-color: #000;
  border-radius: 1vw;
  background-color: #fff;
  border-width: 0.5vw;
}

#fgc {
  width: 96px;
  height: 96px;
  border-style: solid;
  border-color: #fff;
  border-radius: 1vw;
  background-color: #000;
  border-width: 0.5vw;
}

button {
  text-align: center;
  display: inline-block;
  margin: 0.25vw 0.5vw;
  border-style: solid;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #000;
  border-color: #4c56af;
  background-color: #fff;
}

button:hover {
  color: #fff;
  border-color: #4c56af;
  background-color: #4c56af;
}

.card {
  height: 8vw;
  border-style: solid;
  border-radius: 0.6vw;
  border-color: #000;
  margin-top: 4vw;
}